@charset "utf-8";

/* Font
----------------------------------------------------*/

*{
font-family: Helvetica, Arial, sans-serif;
font-weight: normal;
}

h1,h2{
font-weight: normal;
}

.txt p{
font-size:107%;
line-height: 1.6;
margin-bottom: 1.3em;
}
	.txt p.last{
	margin-bottom: 0;
	}



/* Header
----------------------------------------------------*/

/* Global Menu */
	header#pagetop nav.main ul.main_menu{
		width:100%;		
		display:block;
		border-left: none;		
	}
	header#pagetop nav.main ul.main_menu li{ float:left; }
	
	header#pagetop nav.main ul.main_menu li:last-child {
		border-right: none;
	}
	
	header#pagetop nav.main ul.main_menu{					
		height:21px;
	}
	
	header#pagetop nav.main ul.main_menu > li > span.naviBtn > a{		
		color: #000;
		display: inline-block;
		font-weight: 600;
		overflow: hidden;
		padding: 3px 9px;
		text-decoration: none;
	}
	
	
	header#pagetop nav.main ul.main_menu li.current-menu-item, header#pagetop nav.main ul.main_menu li.current-menu-parent {
		border:none;
	}
	header#pagetop nav.main ul.main_menu > li.current-menu-item > span.naviBtn, header#pagetop nav.main ul.main_menu > li.current-menu-parent > span.naviBtn {
		background: #449b64;		
	}	
	
	header#pagetop nav.main ul.main_menu > li.current-menu-item > span.naviBtn a, header#pagetop nav.main ul.main_menu > li.current-menu-parent > span.naviBtn a {
		color:#fff;
	}
	
	
	header#pagetop nav.main ul.main_menu > li.current-menu-item > span.naviBtn a:hover, header#pagetop nav.main ul.main_menu > li.current-menu-parent > span.naviBtn a:hover{
		color: #000;
       }	
	
	
	header#pagetop nav.main ul.main_menu > li:hover  > span.naviBtn{
		background: #f0f0f0;
		height:25px;
		
	}
	
	
	
	header#pagetop nav.main ul.main_menu li ul.dropdown-menu li .rolloverMenu {
		left: 225px;
		top: 0;
		background: #f0f0f0;
	}
	
	header#pagetop nav.main ul.main_menu li .rolloverMenu{
		display:none;
	}
	header#pagetop nav.main ul.main_menu li:hover > .rolloverMenu{
		display:block;
	}
	header#pagetop nav.main ul.main_menu li ul.dropdown-menu li:hover > .rolloverMenu{
		display:block;
	}
	
	header#pagetop nav.main ul.main_menu li {
		position: relative;
		z-index: 1;
	}

	
	header#pagetop nav.main span.searchingBox {
		width: 171px;
		height: 21px;
		font-size: 92%;
		border-right: medium none;
		background: url("images/gnav_search.png") no-repeat scroll left top transparent;
		display:block;		
	}
	
	#cseSearchForm{		
		overflow: hidden;
		position:relative;
	}
	
	#cseSearchForm .search-field{
		border: 1px solid #000;
		width: 233px;
		height: 28px;		
		float: left;
		padding: 0 14px 0 5px;
		border-radius: 10px;
	}
	#cseSearchForm .search-field:focus, #cseSearchForm .search-submit:focus{
		outline: none;
	}
	#cseSearchForm .search-submit{
		  position: absolute;
		  right: 8px;
		  width: 20px;
		  height: 28px;
		  font-size: 0;
		  border: none;
		  background: url(images/icon/search-icon.png) right;
		  background-repeat: no-repeat;
	}
	
	header#pagetop nav.main span.searchingBox *{		
	line-height: 1.2;
	border: none !important;
	background: none !important;
	}
	
	header#pagetop nav.main span.searchingBox td.gsc-input input{
	/* lang css */
	}
		
	header#pagetop nav.main span.searchingBox  .gsc-input input{
	color:#000;
	font-size:12px;
	}
	
	header#pagetop nav.main span.searchingBox td.gsc-search-button input{
	font-size:0px !important;
	color:#FFF;
	cursor: pointer;
	}
	
	header#pagetop nav.main span.searchingBox .gsc-clear-button,
	header#pagetop nav.main span.searchingBox .gsc-branding{
	display:none;
	}
	
	header#pagetop nav.main span.searchingBox .gsc-input input{
		position: absolute;
		left:17px;
		top:3px;
		width:116px;
		height:15px;
		}
		
	header#pagetop nav.main span.searchingBox td.gsc-search-button input{
		position: absolute;
		right:17px;
		top:3px;
		width:18px !important;
		height:15px !important;
	}
	
	
	
	header#pagetop nav.main ul li#gnav00{ width:86px; }
	header#pagetop nav.main ul li#gnav01{ width:89px; }
	header#pagetop nav.main ul li#gnav02{ width:93px; }
	header#pagetop nav.main ul li#gnav03{ width:99px; }
	header#pagetop nav.main ul li#gnav04{ width:139px; }
	header#pagetop nav.main ul li#gnav05{ width:90px; }
	header#pagetop nav.main ul li#gnav06{ width:103px; }
	header#pagetop nav.main ul li#gnav07{ width:97px; }
	
	
	header#pagetop nav.main ul li#gnav00.current span.naviBtn{ width:88px; }
	header#pagetop nav.main ul li#gnav01.current span.naviBtn{ width:91px; }
	header#pagetop nav.main ul li#gnav02.current span.naviBtn{ width:95px; }
	header#pagetop nav.main ul li#gnav03.current span.naviBtn{ width:101px; }
	header#pagetop nav.main ul li#gnav04.current span.naviBtn{ width:141px; }
	header#pagetop nav.main ul li#gnav05.current span.naviBtn{ width:92px; }
	header#pagetop nav.main ul li#gnav06.current span.naviBtn{ width:105px; }
	header#pagetop nav.main ul li#gnav07.current span.naviBtn{ width:99px; }
	
	
	header#pagetop nav.main ul li#gnav00.rollover span.naviBtn{ width:88px; }
	header#pagetop nav.main ul li#gnav01.rollover span.naviBtn{ width:91px; }
	header#pagetop nav.main ul li#gnav02.rollover span.naviBtn{ width:95px; }
	header#pagetop nav.main ul li#gnav03.rollover span.naviBtn{ width:101px; }
	header#pagetop nav.main ul li#gnav04.rollover span.naviBtn{ width:141px; }
	header#pagetop nav.main ul li#gnav05.rollover span.naviBtn{ width:92px; }
	header#pagetop nav.main ul li#gnav06.rollover span.naviBtn{ width:105px; }
	header#pagetop nav.main ul li#gnav07.rollover span.naviBtn{ width:99px; }
	
	/* Search */
	header#pagetop nav.main ul li.searchBox{
	width:171px;
	height:21px;
	font-size:92%;
	border-right: none;
	background: url(images/gnav_search.png) left top no-repeat;
	}
		header#pagetop nav.main ul li.searchBox .gsc-input input{
		position: absolute;
		left:17px;
		top:3px;
		width:116px;
		height:15px;
		}
		
		header#pagetop nav.main ul li.searchBox td.gsc-search-button input{
		position: absolute;
		right:17px;
		top:3px;
		width:18px !important;
		height:15px !important;
		}