@charset "utf-8";

/* Reset
----------------------------------------------------*/

body {
font-size:13px;
*font-size:small;
*font:x-small;
}

body.small {
font-size:13px;
}

body.middle {
font-size:15px;
}

body.big {
font-size:17px;
}

table {
font-size:inherit;
font:100%;
}

* {
font-size:100%;
}

input,
select{
}

sub{
position: relative;
top:3px;
font-size:12px;
}

sup{
position: relative;
top:-4px;
font-size:12px;
}

.page-id-130 sup{
	font-style: normal;
	font-size: 15px;
}

.rubyForFireFox{
display: none;
}

@-moz-document url-prefix() {
	.rubyForFireFox{
	display: inline;	
	}
	rt,rp{
	display: none;
	}
}



/* Module
----------------------------------------------------*/

.left{
float:left;
}

.right{
float:right;
}

a:hover{
text-decoration: none;
}

a.linkArwNormal{
display:inline;
zoom:1;
display: inline-block;
min-height:14px;
background: url(../images/icon/arw_00.png) left center no-repeat;
padding:1px 0 0 20px;
}

a.linkArwSmall{
display:inline;
zoom:1;
display: inline-block;
min-height:14px;
background: url(../images/icon/arw_00.png) left center no-repeat;
padding:1px 0 0 20px;
}

a.linkBltRss{
display:inline;
zoom:1;
display: inline-block;
min-height:16px;
background: url(../images/icon/blt_rss.png) left top no-repeat;
padding:2px 0 0 20px;
}

a.linkBltRss2{
display:inline;
zoom:1;
display: inline-block;
min-height:16px;
background: url(../images/icon/blt_rss2.png) left top no-repeat;
padding:2px 0 0 20px;
}

a.linkBltBackToTop{
display:inline;
zoom:1;
display: inline-block;
font-size:100%;
padding:8px 0 8px 28px;
background: url(../images/icon/blt_backtotop_00.png) left center no-repeat;
}

a.linkBltOpenWin{
padding:0 0 0 20px;
background: url(../images/icon/blt_open_win.png) left center no-repeat;
}
	.txt p a.linkBltOpenWin{
	margin-left: 5px;
	padding-left: 17px;
	}

a.linkBltCalendarDay{
padding:0 0 0 15px;
background: url(../images/blt_calendar_d.png) left center no-repeat;
}

a.linkBltCalendarMonth{
padding:2px 0 2px 20px;
background: url(../images/blt_calendar_m.png) left top no-repeat;
}

a.linkBltPrint{
padding:0 0 0 18px;
background: url(../images/blt_print.png) left center no-repeat;
}

a.linkBltPDF{
padding:0 0 0 18px;
background: url(../images/icon/blt_pdf.png) left center no-repeat;
}

p.pagetopLink{
text-align: right;
margin: 30px 0 70px;
font-size:100%;
}
	p.pagetopLink a{
	padding-left: 15px;
	background: url(../images/icon/blt_pagetop.png) left center no-repeat;
	}

.cl{
clear: both;
}

.mailAddressLine{
margin: 0 7px;
padding: 0 0 0 14px;
vertical-align: middle;
background: url(../images/icon/blt_mail.png) left 3px no-repeat;
}

/* Title */
.titleStyle_A1{	/*main title 1(img txt)*/
border-top:2px solid #333333;
padding-top: 15px;
margin-bottom:20px;
font-size:0px;
}
.titleStyle_A2{	/*main title 2*/
border-top:2px solid #333333;
padding-top: 15px;
margin-bottom:40px;
font-size:136%;
}
.titleStyle_B1{	/*sub title 1*/
border-top:1px solid #CCCCCC;
padding-top: 12px;
margin-bottom:30px;
font-size:122%;
}
.titleStyle_B2{	/*sub title 2(img txt)*/
border-top:1px solid #CCCCCC;
padding-top: 15px;
margin-bottom:15px;
line-height: 1;
}

h2,h3{position: relative;}

h2 .btn,
h3 .btn{
position: absolute;
right: 0px;
top:12px;
}



/* Pagenaition */

#pagination{
font-size:92%;
}
	#pagination *{
	display:inline;
	}
	#pagination ul li{
	margin-right: 5px;
	}
	#pagination ul li.current,
	#pagination ul li a{
	padding:6px 9px;
	}
		#pagination ul li.current{
		font-weight: normal;
		color: #000;
		border: 1px solid #F9DC4E;
		background: #F9DC4E;
		}
		#pagination ul li a{
		border: 1px solid #CCC;
		text-decoration: none;
		}
			#pagination ul li a:hover{
			background: #EAEAEA;
			}
	#pagination .prev{
	margin-right: 20px;
	}
	#pagination .prev a{
	padding:20px 0 20px 20px;
	background: url(../images/arw_prev_00.png) left center no-repeat;
	}
	#pagination .next a{
	padding:20px 20px 20px 0;
	background: url(../images/arw_next_00.png) right center no-repeat;
	}
	#pagination .next{
	margin-left: 15px;
	}
	
	#pagination.pageLink{
	background: url(../images/pagination_partition_00.png) center center no-repeat;
	}


/* List */

ul.listStyle00 li{
padding-left:12px;
line-height: 1.3;
background: url(../images/blt_list00.png) left 5px no-repeat;
}


/* Block */

.noDataBlock01{
padding: 30px;
border: 1px solid #CCC;
}

	.noDataBlock01 p{
	text-align: center;
	}


/* Roll Over */

header#pagetop .sub img,
#sideNav img,
.btn img,
footer#pagefooter img{
/*-webkit-transition: opacity 0.1s ease-out;*/
}


header#pagetop .sub a:hover img,
#sideNav a:hover img,
.btn a:hover img,
a.btn:hover img,
footer#pagefooter .left a:hover img{
opacity: 0.7;
-moz-opacity: 0.7;
filter:alpha(opacity=70);
}

header#pagetop h1 a:hover img,
footer#pagefooter .right a:hover img{
opacity: 0.6;
-moz-opacity: 0.6;
filter:alpha(opacity=60);
}



/* Font
----------------------------------------------------*/

*{
color:#000;
}



/* Structure
----------------------------------------------------*/

body{
text-align: center;
}

.wrapper{
width:975px;
margin: 0 auto;
text-align: left;
}





/* Header
----------------------------------------------------*/
nav.sub ul li.gmaillink{
	background-image: url(../images/icon/gmailIcon.png);
}

nav.sub ul li.googleCalendar{
	background-image: url(../images/icon/calendarIcon.png);
}

nav.sub ul li.gmaillink a, nav.sub ul li.googleCalendar a{
	opacity:0;
}

 nav.sub ul li.gmaillink, nav.sub ul li.googleCalendar{					
	background-repeat: no-repeat;
	background-color: #FFF;	
	width: 24px;
	height: 17px;
	margin: 5px;
	background-size: 100% 100%;				
}






p.message{
color:#666;
font-size:92%;
padding:15px 0;
border-bottom: 1px solid #CCC;
}

	header#pagetop .block01{
		padding-top:25px;
		overflow: hidden;
		zoom: 1;
	}

	header#pagetop .block01 .left{
	font-size:1px;
	width:60%;
	}
		header#pagetop nav.sub{
		height: 17px;
		margin-top: 0px;
		}
		nav.sub ul li{
		float:left;			
		}
			header#pagetop nav.sub ul li.textsize{
			height: 17px;
			padding: 13px 0 0 0;
			margin-right:10px;
			padding-right:10px;
			vertical-align: middle;
			border-right:1px solid #AAAAAA;
			}
				header#pagetop nav.sub ul li.textsize img{
				margin-right: 1px;
				}
			 nav.sub ul li.fblink, nav.sub ul li.twlink, nav.sub ul li.ldlink{
				background-image: url(../images/icon/social-sprites.png);				
				background-repeat: no-repeat;
				background-color: #FFF;
				background-position: 0 100px;
				display: inline-block;
				margin: -1px 1px 5px 5px;
				padding: 0;				
				border-radius: 100%;
				overflow: visible;
				transition: all 0.3s ease;
				box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
				-moz-border-radius: 100%;
				-moz-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				-webkit-border-radius: 100%;
				-webkit-transition: all 0.3s ease;
				border: 1px solid #eee;
				
				vertical-align: middle;				
			}
			
			nav.sub ul li.fblink a, nav.sub ul li.twlink a, nav.sub ul li.ldlink a {
				display: block;
				height: 28px;
				width: 28px;
				text-align: center;
				text-indent: -9999px;
			}
			
			nav.sub ul li.fblink{
				background-position: 0 -151px;
			}
			nav.sub ul li.fblink:hover{
				background-position: 0 -121px;
			}
			
			nav.sub ul li.twlink{
				background-position: 0 -1171px;
			}
			nav.sub ul li.twlink:hover{
				background-position: 0 -1141px;
			}
			
			nav.sub ul li.ldlink{
				background-position: 0 -571px;
			}
			nav.sub ul li.ldlink:hover{
				background-position: 0 -541px;
			}
			
			header#pagetop nav.sub ul li.textlist{
			margin-left:155px;
			padding-left:15px;
			vertical-align: top;
			}


	header#pagetop nav.main{
		zoom:1;
		margin-bottom: 15px;
		position: relative;
		z-index: 10;
		clear:both;
	}
	
	header#pagetop div.book02{
		clear: both;
		float: right;
		overflow: hidden;
		display: inline-block;
		margin: -25px 0 15px;
	}

	
	header#pagetop nav.main ul.topCategories{
	height:21px;
	border-left:1px solid #999;
	}
	
	header#pagetop nav.main ul li{
	float:left;
	height:21px;
	font-size:15px;
	border-right:1px solid #999;
	}
	
	header#pagetop nav.main ul li span.naviBtn{
	display: block;
	height:21px;
	}
	
	header#pagetop nav.main ul li span.naviBtn a{
	/*display: block;
	width:100%;
	height:21px;*/
	}
	
	header#pagetop nav.main ul li.current{
	position: relative;
	z-index: 1;
	}
		
		header#pagetop nav.main ul li.current span.naviBtn{
		position: absolute;
		top:0;
		left:-1px;
		z-index: 2;
		padding: 0;
		background: #F9DC4E;
		}
		
		
		
		header#pagetop nav.main ul li.current span.naviBtn a img{
		margin-left: 1px;
		}
		
	header#pagetop nav.main ul li.rollover{
	position: relative;
	z-index: 1;
	}
		
		header#pagetop nav.main ul li.rollover span.naviBtn{
		/*position: absolute;
		top:-5px;
		left:-1px;
		z-index: 2;
		padding: 5px 0 4px;*/
		padding: 0 0 4px;
		background: #f0f0f0;
		}
		
		header#pagetop nav.main ul li.rollover span.naviBtn a img{
		margin-left: 1px;
		}
	
	header#pagetop nav.main ul li.nondropdown.current span.naviBtn a{
	background: #F9DC4E;
	}
	
	header#pagetop nav.main ul li.nondropdown.rollover span.naviBtn{
	top:0;
	left:-1px;
	z-index: 2;
	padding: 0;
	background: none;
	}
	
	header#pagetop nav.main ul li.nondropdown span.naviBtn a:hover{
	opacity: 0.6;
	-moz-opacity: 0.6;
	}
		header#pagetop nav.main ul li.nondropdown.current span.naviBtn a:hover{
		opacity: 1;
		-moz-opacity: 1;
		}
	
	
	/* gnav07 */
	header#pagetop nav.main ul li#gnav07{
		border-right: none;
	}
	
	/* search */
	header#pagetop nav.main ul li.searchBox{
	padding-top: 2px;
	position: relative;
	}
	
	header#pagetop nav.main ul li.searchBox *{
	margin: 0;
	padding: 0;
	line-height: 1.2;
	border: none !important;
	background: none !important;
	}
	
	header#pagetop nav.main ul li.searchBox td.gsc-input input{
	/* lang css */
	}
		
	header#pagetop nav.main ul li.searchBox  .gsc-input input{
	color:#000;
	font-size:12px;
	}
	
	header#pagetop nav.main ul li.searchBox td.gsc-search-button input{
	font-size:0px !important;
	color:#FFF;
	cursor: pointer;
	}
	
	header#pagetop nav.main ul li.searchBox .gsc-clear-button,
	header#pagetop nav.main ul li.searchBox .gsc-branding{
	display:none;
	}
	
		/* auto completion */
		.gsc-completion-container *{
		text-align: left !important;
		}
		
		.gsc-completion-container td{
		padding:3px 0 3px 2px !important;
		}
	
	/*
	header#pagetop nav.main ul li.current{
	position: relative;
	z-index: 1;
	}
		header#pagetop nav.main ul li.current span.naviBtn a{
		position: absolute;
		top:0;
		left:-1px;
		padding: 0;
		background: #F9DC4E;
		}
						
			header#pagetop nav.main ul li.nondropdown.current span.naviBtn a{
			position: absolute;
			left:0px;
			top:0;
			left:-1px;
			z-index: 2;
			padding: 0;
			background:#F9DC4E;
			}
			
			header#pagetop nav.main ul li.nondropdown.rollover span.naviBtn a{
			position: absolute;
			top:0;
			left:-1px;
			z-index: 2;
			padding: 0;
			background: #f0f0f0;
			}
	*/
	
	/*
		header#pagetop nav.main ul li#gnav00.rollover.current span.naviBtn a{
		padding: 0;
		left:0px;
		top:5px;
		background:#F9DC4E;
		}
		
		header#pagetop nav.main ul li#gnav00.rollover span.naviBtn a{
		padding: 0;
		left:0px;
		top:5px;
		background:none;
		}
	
	*/
	
	/* Rollover Navi */
	header#pagetop nav.main ul li .rolloverMenu{
	width: 269px;
	position: absolute;
	left:0px;
	top:25px;
	background: #f0f0f0;
	z-index: 100;
	}
		
		header#pagetop nav.main ul li .rolloverMenuInner{
		padding: 25px 20px 25px;
		}
	
		header#pagetop nav.main ul li .rolloverMenu ul li{
		margin: 0 0 10px;
		padding:2px 0 2px 10px;
		float: none;
		height: auto;
		font-size: 12px;
		border: none;
		background: url(../images/icon/arw_01.png) left 6px no-repeat;
		}
		header#pagetop nav.main ul li .rolloverMenu ul li a{
		line-height: 1.3;
		text-decoration: none;
		}
			header#pagetop nav.main ul li .rolloverMenu ul li a:hover{
			text-decoration: underline;
			}

			header#pagetop nav.main ul li .rolloverMenu ul li.blank a{
			padding:0 18px 0 0;
			background: url(../images/icon/blt_open_win.png) right 1px no-repeat;
			}

	


/* Main Visual, Breadcrumb
----------------------------------------------------*/
h1#mainVisual{
font-size: 0px;
}

p#breadcrumb{
margin:15px 0;
}
	p#breadcrumb{
	font-size:92%;
	color:#666;
	line-height: 1;
	}
	p#breadcrumb a{
	color: inherit;
	}

.mainVisualBottomAsset{
}
	.mainVisualBottomAsset .left{
	width:600px;
	}
	.mainVisualBottomAsset .right{
	width:375px;
	text-align: right;
	margin: 15px 0 0;
	font-size:92%;
	}




/* Main Container
----------------------------------------------------*/
div#mainContainer{
}






/* Side Navigation
----------------------------------------------------*/

div#sideNav{
width:216px;
float: left;
}
	
	div#sideNav nav{
	zoom: 1;
	}
	div#sideNav nav ul li{
	font-size:92%;
	zoom: 1;
	}
		div#sideNav nav ul li div{
		font-size: 0px;
		line-height: 1;
		}
			div#sideNav nav ul li div a{
			display: block;
			line-height: 1;
			font-size: 0px;
			}
		div#sideNav nav ul li p{
		font-weight: bold;
		line-height: 1.2;
		margin-bottom: 1em;
		padding-top: 1.5em;
		background: url(../images/icon/partition_02.png) left top no-repeat;
		}
			div#sideNav nav ul li p.first{
			padding-top: 0.5em;
			background: none;
			}
		div#sideNav nav ul li ul{
		padding-bottom:20px;
		}
		div#sideNav nav ul li ul li{
		font-size: inherit;
		margin-bottom: 0.5em;
		}
			div#sideNav nav ul li ul li.current{
			font-weight: bold;
			}
			div#sideNav nav ul li ul li.current a{
			text-decoration: none;
			}
		div#sideNav nav ul li ul li a{
		display:inline;
		zoom:1;
		display: inline-block;
		padding:2px 0 2px 10px;
		line-height: 1.3;
		font-weight: inherit;
		background: url(../images/icon/arw_01.png) left 6px no-repeat;
		}
	div#sideNav nav ul li.current{
	background-color:#90daab;
	}
		div#sideNav nav ul li.current ul{
		padding: 20px 0;
		}
		div#sideNav nav ul li.current p,
		div#sideNav nav ul li.current ul{
		margin: 0 20px;
		}
		div#sideNav nav ul li.current p.first{
		margin-top: 20px;
		}
	
	
	div#sideNav nav.anchorNavi p{
	font-size:0px;
	}
		div#sideNav nav.anchorNavi ul{
		padding:17px 15px 20px;
		background: #EAEAEA;
		}
			div#sideNav nav.anchorNavi ul li{
			margin: 0 0 15px;
			padding:0 0 15px 2px;
			font-size:92%;
			background: url(../../asset/images/access/border01.png) left bottom repeat-x;
			}
			div#sideNav nav.anchorNavi ul li a{
			display: inline;
			display: inline-block;
			zoom:1;
			text-decoration: none;
			padding-left: 18px;
			line-height: 1.4;
			background: url(../images/arw_anchor_00.png) left center no-repeat;
			}
				div#sideNav nav.anchorNavi ul li.last{
				margin-bottom: 0;
				}
				div#sideNav nav.anchorNavi ul li a:hover{
				text-decoration: underline;
				}
			
			div#sideNav nav.anchorNavi ul li ul{
			padding-bottom: 0;
			}
			div#sideNav nav.anchorNavi ul li ul li{
			background: none;
			padding: 0;
			}
				div#sideNav nav.anchorNavi ul li ul li a{
				padding-left: 13px;
				background: url(../images/arw_anchor_01.png) left center no-repeat;
				}



/* Main Contents
----------------------------------------------------*/
div#mainContents{
width:724px;
float: right;
}


#contact div#mainContents,
#privacyPolicy div#mainContents,
#letters div#mainContents{
width: 100%;
float: none;
}



/* Main Contents
----------------------------------------------------*/





/* Footer
----------------------------------------------------*/

footer#pagefooter{
border-top:1px solid #CCCCCC;
padding-top: 25px;
padding-bottom: 50px;
}
footer#pagefooter.jp{
margin: 60px 0 0 0;
overflow: hidden;
}

footer#pagefooter .left{}
	footer#pagefooter .left nav ul li{
	float:left;
	margin-right:1em;
	line-height: 1;
	font-size:100%;
	}
		footer#pagefooter .left nav ul li a{
		text-decoration: none;
		color: #333;
		}
		footer#pagefooter .left nav ul li a:hover{
		text-decoration: underline;
		}
	footer#pagefooter .left p{
	clear: both;
	font-size:92%;
	}
		footer#pagefooter .left p small{
		margin-right: 5px;
		color: #333;
		}
		footer#pagefooter .left p a{
		margin-right: 5px;
		}





/* Clearfix
----------------------------------------------------*/

.clearfix:before,
.clearfix:after {
content:"";
display:block;
overflow:hidden;
} 
.clearfix:after {
clear:both;
}
.clearfix {
zoom:1;
}

section:before,
footer#pagefooter:before,
section:after,
footer#pagefooter:after{
content:"";
display:block;
overflow:hidden;
} 
section:after,
footer#pagefooter:after{
clear:both;
}
section,
footer#pagefooter{
zoom:1;
}





/* jQuery Tools
----------------------------------------------------*/

/* the overlayed element */
.simple_overlay {
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	font-size: 0px;
	background: #000;
		
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #333;
	-webkit-box-shadow: 0 0 90px #333;	
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url(../images/btn_figure_zoom_close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}






/* Print
----------------------------------------------------*/

@media print{

	a.linkBltBackToTop,
	p.pagetopLink{
	display: none;
	}

}


/* Contents - News
----------------------------------------------------*/
span.newevent{
	width: 30px;
	height: 18px;
	
	background-image: url(../images/blt_newevent.png);
	background-repeat: no-repeat;
	display: inline-block;
	*display: inline;
    *zoom: 1;
	position: relative;
	top: 4px;
	margin-left: 2px;
	}